body {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: coral;
}

#header {
    height: 10vw;
    text-align: center;
}

.sidebar {
    height: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: turquoise;
}

#sidebarContent {
    height: 100vw;
    display: flex;
    list-style-type: none;
}

 

.sidebaritem {
    margin-top: 3vw;
    margin-bottom: 3vw;
    text-align: center;
    font-family: 'Helvetica';
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2vw;
}